# Telegram
TELEGRAM_BOT_TOKEN=8385003837:AAGcZz-LP5exdsFy4i5mn578RRey-6mJcRM

# Deepgram
DEEPGRAM_API_KEY=8b296b68246aaa4e5468512f972a4d9ea90dfb8a

# Anthropic Claude (optional — used for smart template formatting)
# If left empty, the bot will output the raw Deepgram transcript.
ANTHROPIC_API_KEY=sk-ant-api03-qYPoqZfuDXQKvCe0GPwlEJACinYNhG1mD8Xg7STCCIdw4Ww5Fa5pjejACcJzthnJzYZcwLlwG4U1G-NM5IwVhw-w4bYkQA
TODOIST_API_TOKEN=
TODOIST_PROJECT_NAME=VoiceToText
